.container {
    padding: 8px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    gap: 8px;
}

input {
    border: none;
    background: transparent;
    outline: none;
}